<div class="post-item-container container-fluid">
        <div class="row">
            <div class="col-12 post-item-profile-container col-sm-2 col-md-1 cursor">
                <app-post-item-profile></app-post-item-profile>
            </div>
            <div class="col cursor">
                <div class="row row-title align-items-end">
                    <div class="col-12 align-self-start">A</div>
                    <div class="col-12 align-self-end">B</div>
                </div>
            </div>
        </div>
</div>

