<section class="posts-container">

    <div class="card ">                   
        
        <div class="card-header small-text">
            Lista di post con informazioni dell'utente che ha scritto il post
        </div>
        <div class="card-body">
            <div *ngIf="postSelected" class="detail-card-container">
                <app-post-detail-card [post]="postSelected" 
                    [user]="postSelected.userId | userFind: users">
                </app-post-detail-card>
            </div>    

            <div class="post-item-container" *ngFor="let post of posts">                        
                <app-post-item [post]="post" [user]="post.userId | userFind: users"
                (profileClicked)="postSelected = post"></app-post-item>                
            </div>
        </div>
      </div>
    


</section>